#topB {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1;
    font-size: 17px;
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: blue;
  }
  
  #topB:hover {
    background-color: rgb(80, 96, 108);
  }