<br /><br />

<div class="container-fluid">
    <div class="px-3">
        <div class="text-end">
            <!-- Create a dropdown to filter the products (To be implemented
                as part of Requirement-4) -->

        </div>
        <div>
            <!-- Display the products  -->
            
            <!-- Hint: Refer below code to load modal on click of button 
         <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewModal"> button </button> -->
        </div>
 
    </div>
</div>


    <div class="modal fade" id="viewModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!--  Add necessary code to load ViewDetailsComponent and send selected
                product data to the productDetails property of ViewDetailsComponent   -->
              
            </div>
        </div>
    </div>
